/* Main Container */
.main-div {
  margin-top: 150px;
  margin-bottom: 150px;
}

.pro-head {
  font-size: 40px;
  font-weight: bold;
}

.tech-div {
  font-size: 16px;
  background-color: rgb(13, 110, 253, 0.8);
  height: 30px;
  width: 100px;
}

.tech {
  margin-top: 5px;
}

.proj-title {
  font-size: 50px;
}

.tech-main-div {
  margin-top: 5px;
}

.img-cont {
  height: 800px;
  width: 800px;
  object-fit: cover;
  margin: 0 auto;
}

.carousel-caption {
  margin-top: 20px;
  color: #fff;
}

.desc {
  margin-top: 5px;
  font-size: 20px;
}

.code {
  width: 150px;
  height: 50px;
}

.git-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

.demo {
  width: 150px;
  height: 50px;
  display: flex;
}

.view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

/* Desktop View */
.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

/* Mobile View */
@media (max-width: 768px) {
  .pro-head {
    font-size: 30px;
  }

  .img-cont {
    height: 300px; /* Adjusted for mobile view */
    width: 100%;
    object-fit: cover; /* Ensures uniformity */
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  .proj-title {
    margin-top: 400px;
    font-size: 18px;
    color: #fff;
  }

  .git-logo {
    font-size: 10px;
  }

  .view {
    font-size: 10px;
  }

  .demo,
  .code {
    width: 100px;
    height: 35px;
    margin: 0px auto;
    display: inline-block;
    background-color: #007bff;
    color: #fff;
  }

  .d-flex {
    display: flex !important;
  }

  .gap-3 {
    gap: 1rem !important;
  }
}
