/* Education.css */
.education-section {
  padding: 2rem 1rem;
}

.edu {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 45px;
}

.vertical-timeline-element-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.vertical-timeline-element-subtitle {
  font-size: 1rem;
  color: #777;
}

@media (max-width: 768px){
  .edu {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 45px;
  }
}