*{
    box-sizing: border-box;
}

body{
    background-color: #343a40;
}


.photo{
    width: 150px;
    clip-path: circle();
    float: right;
}

h1{
    color: #219ebc;
}

h2{
    color: #bde0fe;
}

dl{
    color: #ccd5ae;
}
