@font-face{
    font-family: Tempsitc;
    src: url(./Fonts/TEMPSITC.TTF);
}

@font-face{
    font-family: josefine;
    src: url(./Fonts/JosefinSlab-Italic-VariableFont_wght.ttf);
}

@font-face{
    font-family: lato;
    src: url(./Fonts/Lato-LightItalic.ttf);
}

*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}


.photo{
    width: 200px;
    clip-path: circle();
    float: right;
}

h1{
    font-family: Tempsitc;
    font-size: 7ch;
    color: #560bad;
    z-index: 3;
    border-radius: 50%;
}

dt{
    color: #415a77;
    font-size: 2 ch;
    font-family: josefine;
}

dd{
    color: #03045e;
    font-size: 2ch;
    font-family: lato;
}
