.nav-pad {
  margin-left: 250px;
  margin-right: 250px;
  background-color: #1c2430;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.mainDiv {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-nav {
  margin-left: auto;
}

@media (max-width: 1184px) {
  .nav-pad {
    margin-left: -30px;
    margin-right: -30px;
  }

  .nav-logo {
    height: 30px;
    width: 30px;
    border: none;
  }
}

.navbar {
  padding: 10px 0;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: #9c9c9c;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #62ba1b;
}

/* Mobile view adjustments */
@media (max-width: 576px) {
  .nav-logo {
    height: 30px;
    width: 30px;
    border: none;
  }

  .logo-rajnish {
    border: none;
    width: 20px;
    height: 20px;
  }

  .navbar {
    padding: 10px 20px;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-nav {
    text-align: right;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-link {
    font-size: 1.2rem;
    padding: 10px;
  }

  .mainDiv {
    width: 100%;
  }
}

.logo-rajnish {
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 5px;
}
