img {
  border: 2px black solid;
}

.cer-head {
  font-size: 40px;
  font-weight: bold;
}

.cert-image {
  width: 543px;
  height: 408px;
  object-fit: cover;
  margin-bottom: 10px;
}

.marquee-wrapper {
  display: flex;
  flex-wrap: nowrap;
  animation-duration: 20s;
}

.marquee-item {
  margin-right: 50px;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .cert-image {
    width: 271px;
    height: 204px;
  }

  .cer-head {
    font-size: 30px;
    font-weight: bold;
  }

  #certifications p {
    display: none;
  }
}
