img {
  border: 2px black solid;
}

.cert-image {
  width: 543px;
  height: 408px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .cert-image {
    width: 271px;
    height: 204px;
  }

  #certifications p {
    display: none;
  }
}
